/* swal 창 */
.swal2-popup {
  font-size: 11px;
  width: 400px; 
  height: 300px;

}



/*header*/
.Header{
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 70px;
}
.HeaderItem1{
  text-decoration: none;
  width: 3%;
  padding-top: 20px;
  font-size: 20px;
  color: black;
  white-space: nowrap;
}
.HeaderItem2 {
  display: flex;
 margin-left: 85%;
  padding-top: 20px;
  font-size: 20px;
  white-space: nowrap; 
}


.HeaderItem3{
  display: flex;
  padding-left:5%;
  padding-top: 20px;
  width: 100%;
  font-size: 18px;

 }
 .HeaderItem4{
  text-decoration: none;
  color:black;
  padding-top:10px;
  font-size: 16px;
  padding-left: 4%;

 }
 .HeaderItem5{
  text-decoration: none;
  color:black;
  padding-top:10px;
  font-size: 15px;
  padding-left: 23%;

 }
 .HeaderItem6{
  padding-top:7px;
  font-size: 18px;
  padding-left: 5%;
  font-weight: bold;


 }
.HeaderLogo{
  height: 40px;
  padding-left:10px;
  padding-right:10px;
}
/*home*/
.AdminEntire{
  padding-left: 10%;
  padding-right: 10%;
}
.MainTitle{
 padding-left: 30%;
 padding-top:17%;
 font-size: 30px;
}
.MainSub{
  padding-left: 39%;
  padding-top:5%;
  font-size: 20px;

 }
.itemLogo{
  vertical-align: middle;
  padding-bottom: 20px;
}
.itemLogo1{
  vertical-align: middle;
  height: 60px;
  width: 60px;
  padding-bottom: 20px;
}
.MainMenu{
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
}


.item {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-left: 80px;
  padding-top: 150px;
  
}
.item1 {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-left: 80px;
  padding-top: 170px;
}
.item2 {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-left: 80px;
  padding-top: 152px;
}
/* login */
.AdminLogin{
  display: flex;
  flex-direction: column;
   padding-left: 10%;
  padding-right: 10%;
  

}
.LoginText{
  padding-top: 100px;
  padding-left:43%;
  padding-bottom: 20px;
  font-size: 23px;
} 
.LoginInput{
  margin-top: 3px;
  margin-left: 38%;
  width:300px;
  height: 30px;
  border-radius: 5px;
}
.LoginButton{
  margin-left:38%;
  width:300px;
  margin-top: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;

}
/*  userview  */
.UserText{
  font-size: 29px;
  padding-left: 70px;
  padding-top: 70px;
}
.UserAll{
  padding-top: 50px;
  padding-left: 70px;
}
.UserList{
  display: flex;
  
}
.UserMenuList{
  display: flex;

 height:50px;
  
}
.UserItem1,.UserItem2,.UserItem3,.UserItem4,.UserItem5,.UserItem6{
  
  height:auto;
  min-height:70px;
 overflow: auto;
  
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  display: flex;      
  align-items: center;
  justify-content: center; 
  
  
}
.UserMenuItem1,.UserMenuItem2,.UserMenuItem3,.UserMenuItem4,.UserMenuItem5{
  height:auto;
  min-height:50px;
 overflow: auto;
  
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  display: flex;      
  align-items: center;
  justify-content: center; 
  background-color:#C8C8C8;
}
.UserItem1,.UserMenuItem1{
  width:60px;
}
.UserItem2,.UserMenuItem2{
  width:70px;
}
.UserItem3,.UserMenuItem3{
  width:70px;
}
.UserItem4,.UserMenuItem4{
  width:150px;
}
.UserItem5,.UserMenuItem5{
  width:60px;
}
.UserItem6{
  width:60px;
  color:blue;
  text-decoration: none;

}
/*  useredit */
.UserEdit{
  display: flex;
  flex-direction: column;

 padding-left: 100px;
 padding-top: 40px;
}
.UserEditText{
  padding-top: 70px;
  padding-left: 100px;
  font-size: 25px;
}
.UserEditButton{
  display: flex;
 padding-left: 250px;
 padding-top: 30px;
 height: 25px;
}
.UserEditId{
  display: flex;
  align-items: center; 
}
.UserEditButtonDetail1{
    margin-left: 0px;
    width: 50px;
  border:1px solid black;
  border-radius:5px;
  background-color: black;
  color:white;
  font-size: 13px;
 text-align: center;

}
.UserEditButtonDetail2{
  margin-left: 5px;
  width: 50px;
border:1px solid black;
border-radius:5px;
background-color: rgb(69, 69, 210);
color:white;
font-size: 13px;
text-align: center;
}
.UserEditInput{
  height: 35px;
  width: 250px;
  margin-bottom: 10px;
}
.Duplication{
  border: 1px solid black;
  border-radius: 5px;
  height: 23px;
  margin-top:-10px;
  margin-left:5px;
  font-size: 13px;
  background-color: black;
  color: white;
}
/*     quiz subject      */
.QuizSubjectList{
  margin-top: 10%;
  margin-left: 32%;
}
.QuizSubjectItem{
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5%;
  width: 37%;
  height: 40px;
  font-size:17px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.400);
  color: white;
}
/*  quiz     */
.QuizAll{
  padding-top: 50px;
  padding-left: 70px;
}
.QuizList{
  display: flex;
  
}
.QuizMenuList{
  display: flex;

 height:50px;
  
}
.QuizMenuItem1,.QuizMenuItem2,.QuizMenuItem3,.QuizMenuItem4{

  overflow: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 14px;
   display: flex;      
   align-items: center;
   justify-content: center; 
   background-color:#C8C8C8;
}
.QuizItem1,.QuizItem2,.QuizItem3,.QuizItem4{
  
  height:70px;
 overflow: auto;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  display: flex;      
  align-items: center;
  justify-content: center; 
  padding-top:10px;
  padding-bottom: 10px;
  
}
.QuizItem1,.QuizMenuItem1{
  width: 50px;
}
.QuizItem2,.QuizMenuItem2{
  width:320px;
}
.QuizItem3{
  width:60px;
  color:blue;
  text-decoration: none;
}
.QuizMenuItem3{
  width:60px;
}
/* quizedit*/
.QuizEditText{
  font-size: 23px;
  padding-left: 70px;
  padding-top: 50px;

}
.QuizContent{
  margin-top: 20px;
  margin-left: 70px;
  width: 550px;
  height: 100px;
  font-family: sans-serif;
}
.QuizRound{
  margin-top: 30px;
  margin-left: 70px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  font-size: 17px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

}
.AnswAll{
  margin-left: 70px;
}
.Answ{
  display: flex;
  margin-top: 10px;
}
.AnswKey{
  border-radius: 100%; 
  border: 1px solid black;
  width: 30px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

}
.AnswInput{
  margin-left: 10px;
  width:250px;
  height: 30px;
}
.R_answ{
  margin-left: 400px;
  margin-top: -170px;
  display: flex;
}
.R_answInput{
  margin-left: 5px;
  width: 10px;

}
.WrgAnsw{
  margin-left: 400px;
  margin-top: 10px;
}
.WrgAnswInput{
  margin-top:5px;
  width:210px;
  height:100px;
}
.QuizButtonAll{
  display: flex;
}
.QuizButton1{
  margin-top: 55px;
  margin-left: 300px;
  border: 1px solid black;
  border-radius:5px ;
  width: 50px;
  text-align: center;
  color:white;
  background-color: black;
}
.QuizButton2{
  margin-top: 55px;
  margin-left: 10px;
  border-radius:5px ;
  border: 1px solid black;
  width: 50px;
  text-align: center;
  color:white;
  background-color: black;
}
.SelectKeywordAll{
  margin-left: 400px;
  margin-top: 10px;
}
.SelectKeyword{
  width: 210px;
  height: 30px;
}
/*  contentselect analyticsselect */
.ContentAll{
  display: flex;
  margin-top:70px;
  margin-left: 50px;
}
.AnalyticsAll{
  display: flex;
  margin-top:70px;
  margin-left: 120px;
}
.ContentBox{
 
  border: 1px solid black;
  margin-left: 7%;
  margin-top: 7%;
  height: 300px;
  width: 23%;
}
.AnalyticsBox{
  border: 1px solid black;
  margin-top: 7%;
  margin-left: 10%;
  height: 300px;
  width: 26%;
}
.ContentMain1 ,.ContentMain2 ,.ContentMain3,.AnalyticsMain1,.AnalyticsMain2{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-bottom: 1px solid black;
  height: 70px;
  width: 100%;
}
.ContentMain1{
  background-color: rgba(7, 191, 38, 0.6);
}
.ContentMain2{
  background-color: rgba(128, 128, 128, 0.519);
}
.ContentMain3{
  background-color: rgba(255, 0, 0, 0.455);
}
.AnalyticsMain1{
  background-color: rgba(127, 255, 212, 0.707);
}
.AnalyticsMain2{
  background-color: wheat;
}

.ContentDetail{
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.ContentLink{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
/* round && subject   */
.RoundAll{
  padding-top: 50px;
  padding-left: 70px;
}
.RoundList{
  display: flex;
  
}
.RoundMenuList{
  display: flex;
 height:50px;
  
}
.RoundMenuItem1,.RoundMenuItem2{

  overflow: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 14px;
   display: flex;      
   align-items: center;
   justify-content: center; 
   background-color:#C8C8C8;

}
.RoundItem1,.RoundItem2{
  
  height:50px;
 overflow: auto;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  display: flex;      
  align-items: center;
  justify-content: center; 
  padding-top:10px;
  padding-bottom: 10px;
  
}
.RoundItem1,.RoundMenuItem1{
  width: 250px;
}

.RoundItem2{
  width:70px;
  color:blue;
  text-decoration: none;
}
.RoundMenuItem2{
  width:70px;
}
.RoundCreate{
  border: 1px solid black;
  border-radius: 5px;
  width:60px;
  height: 25px;
  font-size: 14px;
  margin-left: 400px;
  margin-top: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color:rgba(0, 0, 255, 0.315);
}
/* round && subject create  */

.RoundCreateBox{
  height: 30px;
  margin-left:70px;
  margin-top: 30px;
  width: 250px;
  border-radius: 10px;
}
.RoundCreateButton{
  border: 1px solid black;
  border-radius: 5px;
  width:50px;
  margin-left: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: black;
  color: white;
}
.RoundCreateButtonList{
  display: flex;
  margin-left: 200px;
  margin-top: 10px;
}
/*  keyword view      */

.KeywordAll{
  padding-top: 50px;
  padding-left: 70px;
}
.KeywordList{
  display: flex;
  
}
.KeywordMenuList{
  display: flex;
 height:50px;
  
}
.KeywordMenuItem1,.KeywordMenuItem2,.KeywordMenuItem3,.KeywordMenuItem4{

  overflow: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 14px;
   display: flex;      
   align-items: center;
   justify-content: center; 
   background-color:#C8C8C8;

}
.KeywordItem1,.KeywordItem2,.KeywordItem3,.KeywordItem4{
  
  height:auto;
 overflow: auto;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  display: flex;      
  align-items: center;
  justify-content: center; 
  padding-top:20px;
  
  padding-bottom: 10px;
  
}


.KeywordItem1,.KeywordMenuItem1{
  width: 50px;
}
.KeywordItem2,.KeywordMenuItem2{
  width: 110px;
}
.KeywordItem3,.KeywordMenuItem3{
  width: 300px;
}
.KeywordItem4{
  width:70px;
  color:blue;
  text-decoration: none;
}
.KeywordMenuItem4{
  width:70px;
}
.KeywordCreate{
  border: 1px solid black;
  border-radius: 5px;
  width:60px;
  height: 25px;
  font-size: 14px;
  margin-left: 614px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color:rgba(0, 0, 255, 0.315);
}
/*  keyword create   */
.KeywordBoxAll{
  display: flex;
  flex-direction: column;
}
.KeywordCreateBox1{
  height: 50px;
  margin-left:70px;
  margin-top: 30px;
  width: 350px;
  border-radius: 10px;
}
.KeywordCreateBox2{
  height: 200px;
  margin-left:70px;
  margin-top: 30px;
  border: 2px solid black;
  width: 350px;
  border-radius: 10px;
}
.KeywordCreateButton{
  border: 1px solid black;
  border-radius: 5px;
  width:50px;
  margin-left: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: black;
  color: white;
}
.KeywordCreateButtonList{
  display: flex;
  margin-left: 300px;
  margin-top: 10px;
}
/*    viewrate      */
.PieChart{
  margin-left: 70px;
  margin-top: 50px;
  width: 700px;
  height: 500px;
}
/*    user assess     */
.AssessSelect{
  margin-left: 30%;
  width: 21%;
  margin-bottom: -3%;
}
.AssessAll{
  padding-top: 50px;
  padding-left: 70px;
}
.AssessMenuAll{
display: flex;
height:50px;
}
.AssessMenuItem1,.AssessMenuItem2,.AssessMenuItem3,.AssessMenuItem4{
  overflow: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 14px;
   display: flex;      
   align-items: center;
   justify-content: center; 
   background-color:#C8C8C8;
}
.AssessMenuItem1,.AssessItem1{
  width: 120px;
}
.AssessMenuItem2,.AssessItem2{
  width: 140px;
}
.AssessMenuItem3,.AssessItem3{
  width: 140px;
}
.AssessMenuItem4,.AssessItem4{
  width: 140px;
}

.AssessItemAll{
  display: flex;
}
.AssessItem1,.AssessItem2,.AssessItem3,.AssessItem4{
  height:auto;
  overflow: auto;
   border: 1px solid black;
   text-align: center;
   font-size: 14px;
   display: flex;      
   align-items: center;
   justify-content: center; 
   padding-top:20px;
   
   padding-bottom: 10px;
   
}